# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.dylib

# Compiled Static libraries
*.lai
*.la

./tiny-open-zwave-api/*.txt
./tiny-open-zwave-api/*.xml
./tiny-open-zwave-api/*.log

